<div class="side-menu" id="side-menu">
  <ul class="side-menu__lists">
    <li class="side-menu__lists__title">{{default.sidebar.main}}</li>
    <li class="side-menu__lists__list{{#is custom_basename 'dashboard'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.dashboard}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'ui_kit'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.ui_kit}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'typography'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.typography}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'components'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.components}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'icons'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.icons}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'forms'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.forms}}</span>
      </a>
    </li>
    <li class="side-menu__lists__title">{{default.sidebar.more}}</li>
    <li class="side-menu__lists__list{{#is custom_basename 'tables'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.tables}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'charts'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.charts}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'maps'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.maps}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'mail'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.mail}}</span>
      </a>
    </li>
    <li class="side-menu__lists__title">{{default.sidebar.extras_main}}</li>
    <li class="side-menu__lists__list{{#is custom_basename 'pages'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.pages}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'extras'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.extras}}</span>
      </a>
    </li>
    <li class="side-menu__lists__list{{#is custom_basename 'multi_level'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.multi_level}}</span>
      </a>
    </li>
  </ul>
</div>
